.module {
    margin: 10px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    box-shadow: var(--grey) 5px 5px;
}

/* .module h2 {
    padding: 5px 10px;
} */

.module__content {
    flex: 1;
    overflow: auto;
}

.module__content > * {
    box-sizing: border-box;
}