body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 100vh;
}

.clicker-main {
  position: relative;
}

.toggle-chat {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 300%;
  }
}

@keyframes slideOut {
  0% {
    width: 1;
  }
  100% {
    opacity: 0;
  }
}