.chat {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

.clicker-main {
  position: relative;
  display: grid;
  grid-template-columns: 350px 1fr 350px;
}

.leaderboard {
  height: 10vh;
  overflow-y: auto;
}

.center {
  justify-self: center;
  padding-top: 300px;
  font-size: 30px;
}

.toggle-chat {
  position: absolute;
  right: 320px;
  top: 13px;
}

@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 300%;
  }
}

@keyframes slideOut {
  0% {
    width: 1;
  }
  100% {
    opacity: 0;
  }
}

.topbar {
  height: 50px;
  background: #111;
  position: relative;
}

.errors {
  color: red;
}
